<nav class="navbar" role="navigation" aria-label="main navigation" style="">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
    <div class="container" style="max-width: 900px">
        <div class="navbar-brand">
            <a class="navbar-item" rel="author" href="{{ " /" }}"><img src="{{site.url}}/assets/images/logo.png" width="38" height="28" style="margin-right:8px;" /> {{site.title | escape}} </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                {%- for path in page_paths -%}
                {%- assign my_page = site.pages | where: "path", path | first -%}
                {%- if my_page.title -%}
                <a class="{%- if my_page.url == page.url -%}
                navbar-item is-active
                {%- else -%}
                navbar-item
                {%- endif -%}" 
                
                href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
                {%- endif -%}
                {%- endfor -%}
            </div>
        </div>
    </div>
</nav>