<div class="social-container">
  {% if site.github-username %}
  <a href="https://github.com/{{ site.github-username }}">GitHub</a>
  {% endif %} {% if site.twitter-username %}
  <a href="https://twitter.com/{{site.twitter-username}}">Twitter</a>
  {% endif %} {% if site.youtube-username %}
  <a href="https://www.youtube.com/@{{site.youtube-username}}">Youtube</a>
  {% endif %} {% if site.linkedin-username %}
  <a href="https://www.linkedin.com/in/{{site.linkedin-username}}">LinkedIn</a>
  {% endif %}
</div>
